{{ if .Site.Params.about.enable | default false }}
<section id="about" class="py-0 py-sm-5">
    <div class="container bg-transparent">
        <h3 class="text-center bg-transparent">{{ .Site.Params.about.title }}</h3>
        <div class="bg-transparent justify-content-center px-3 py-5">
            {{ if .Site.Params.about.image }}
            <div class="figure">
                <figure class="figure-img px-5">
                    <img src="{{ .Site.Params.about.image }}" class="img-thumbnail mx-auto" alt="">
                    <figcaption class="figure-caption text-end">Reprezentacja koła na HackYEAH 2023</figcaption>
                </figure>
            </div>
            {{ end }}
            <div class="col-md-12 content py-3 px-3">
                {{ .Site.Params.about.content | markdownify }}

                {{ if .Site.Params.about.skills.enable }}
                {{ .Site.Params.about.skills.title }}
                <ul>
                    {{ range .Site.Params.about.skills.items }}
                    <li>{{ . | markdownify }}</li>
                    {{ end }}
                </ul>
                {{ end }}
            </div>
        </div>
    </div>
</section>
{{ end }}